.body{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}.head-part{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 40px;
}.head-part img{
  border-radius: 50%;
}.foot-part{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 20px;
}.foot-part input[type = text]{
  height: 40px;
  width: 85%;
  border: none;
  outline: none;
  border-radius: 30px;
  text-align: center;
}.foot-part i{

  font-size: 32px;
}.result{
  padding: 0px 5%;
  max-height: 85vh;
  overflow-y: scroll;
}.result::-webkit-scrollbar{
  display: none;
}.result-title{
  margin: 40px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}.result img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}.result-data{
  display: flex;
  align-items: start;
  gap: 20px;
}.loader{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}.loader hr{
  border-radius: 4px;
  border: none;
  background-color: #f6f7f8;
  background: linear-gradient(to right,white,rgb(159, 154, 154),rgb(255, 234, 234));
  background-size: 800px 50px;
  height: 20px ;
  animation: loader 3s infinite linear;
}
@keyframes loader{
  0%{
    background-position: -800px 0px;
  }100%{
    background-position: 800px 0px;
  }
}.result-data p{
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8;
}